<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <application
        android:name=".PokeGApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.PokeG"
        tools:ignore="AllowBackup">

        <activity
            android:name=".PokeGActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.heinika.pokeg.module.moves.MoveListActivity"
            android:label="@string/title_activity_move_List"
            android:theme="@style/Theme.PokeG" />

        <activity android:name="com.heinika.pokeg.module.versions.VersionsActivity" />

        <activity
            android:name="com.heinika.pokeg.module.donation.DonationActivity"
            android:exported="false" />

        <activity android:name="com.heinika.pokeg.module.egg.EggActivity" />
        <activity android:name="com.heinika.pokeg.module.nature.NatureListActivity" />
        <activity android:name="com.heinika.pokeg.module.gameprops.GamePropsActivity" />
        <activity android:name="com.heinika.pokeg.module.team.TeamActivity" />
        <activity android:name="com.heinika.pokeg.module.mypokemon.MyPokemonActivity" />

        <activity
            android:name=".module.about.AboutActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="com.heinika.pokeg.androidx-startup"
            android:exported="false"
            tools:node="merge">

            <!-- This entry makes WorkManagerInitializer discoverable. -->
            <meta-data
                android:name="com.heinika.pokeg.init.PokeGInitializer"
                android:value="androidx.startup" />
        </provider>
    </application>

</manifest>